@charset "utf-8";
/**/
*{
    margin: 0;
    padding: 0;
    outline: none;
}

html {height: 100%}

body{
    width: 100%;
    height: 100%;
    background-color: #fff;
    color: #333;
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 1em;
    line-height: 135%;
}

img{
    max-width:100%;
    height:auto;
    width: auto\9; /*ie8*/
}

a{
    color: #5f0e0e;
    text-decoration: none;
}

a:hover{
    color: #695303;
}

a, a:hover{
    -webkit-transition: all.6s ease;
    -moz-transition: all.6s ease;
    -o-transition: all.6s ease;
    -ms-transition: all.6s ease;
    transition: all.6s ease;
}

.clear{
    clear: both;
}

/*header styles*/

header{
    width: 98%;
    float: left;
    padding: 1%;
    background-color: #fafafa;
    border-bottom: 2px solid silver;
    margin-bottom: 20px;
}

header #logo{
    width: 20%;
    float: left;
}

header #logo a{
    color: #939393;
    font-size: 2em;
    font-family: Times New Roman, sans-serif;
}

header #logo span{
    color: #e36565;
}

header #menuHead{
    width: 44%;
    float: left;
}

header #menuHead div{
    float: left;
    padding: 5px;
    background-color: #c8c8c8;
    border-radius: 10px;
    color: #fff;
}

header #menuHead div:hover{
    background-color: #e7e7e7;
}

header #regAuth{
    width: 30%;
    float: left;
    text-align: right;
    font-size: 1.3em;
}

/*main content styles*/

#wrapper{
    width: 80%;
    margin-left: 10%;
    float: left;
}

#wraper #leftAdvertCol{
    width: 20%;
    float: left;
}

#wrapper #leftAdvertCol .banner{
    width: 100%;
    float: left;
    margin-bottom: 20px;
    border: 2px solid silver;
    box-sizing: border-box;
}

#wrapper #leftCol{
    width: 60%;
    margin-right: 10%;
    float: left;
}

#wrapper #leftCol #bigArticle{
    width: 80%;
    margin-left: 10%;
    background-color: #f6f6f6;
    padding: 1%;
}

#wrapper #rightCol{
    width: 20%;
    float: left;
    top:0;
}

#wrapper #rightCol .banner{
    width: 100%;
    float: left;
    margin-bottom: 20px;
    border: 2px solid silver;
    box-sizing: border-box;
}

/*Footer styles*/

footer{
    width: 98%;
    float: left;
    padding: 1%;
    background-color: #fafafa;
    border-top:2px solid silver;
    margin-top: 10px;
}

footer #social{
    float: left;
    width: 50%;
}

footer #rights{
    float: right;
    width: 50%;
    text-align:right;
    font-size: 1.1em;
}